*.xml
*.pkl
*.csv
*.json
*.svg
*.pyc
*.jpg
*.mp4
*.log
*.png
*.zip
.ipynb_checkpoints/*
*.env
*.DS_STore
*.tfstate
*.terraform
*.tfstate.backup
*.conf
*.lock.hcl
dagster_orchestration/dagster_runs
*.ipynb