S3_SCRAPER_BUCKET=
LOCAL_SCRAPER_PATH=
GAME_JSON_URLS_PREFIX=
GAME_DATA_DIRTY_PREFIX=
USER_JSON_URLS_PREFIX=
USER_DATA_DIRTY_PREFIX=
SCRAPER_TASK_DEFINITION=
GAME_CLEANER_TASK_DEFINITION=
BGG_USERNAME=
BGG_PASSWORD=
PYTHONPATH=.
