S3_SCRAPER_BUCKET= # This is your S3 bucket name, which is the root directory for all scraping
SCRAPER_TASK_DEFINITION= # Whatever you chose to name your task definition for the scraper
GAME_CLEANER_TASK_DEFINITION= # whatever you chose to name your task definition for the cleaner
BGG_USERNAME= # your BGG username
BGG_PASSWORD= # your bgg password
PYTHONPATH=.
