[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
lxml = "*"
bs4 = "*"
selenium = "*"
regex = "*"
scrapy = "*"
boto3 = "*"
awswrangler = "*"
xmltodict = "*"
dagster = "*"
dagster-webserver = "*"
tzlocal = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
umap-learn = "*"
openpyxl = "*"
weaviate-client = "*"
langchain = "*"
openai = "*"
nltk = "*"
sentence-transformers = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
black = {extras = ["jupyter"], version = "*"}
ipykernel = "*"
isort = "*"

[requires]
python_version = "3.12"
